/* login and Register Style */
* {
    font-family: cursive;
  }
  
  .login {
    position: absolute;
    inset: 0;
  }
  
  .login .overlay {

    position: absolute;
    inset: 0;
    z-index: 1;
  }
  
  .login img.logo {
    width: 100%;
    height: 100vh;
  }
  
  .login .box {
    z-index: 5;
    width: 30%;
    padding: 50px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(202, 37, 16, 0.3);
  }
  
  .login .box h2 {
    color: #bc1059;
  }
  
  .login .box button {
    padding: 2px 100px;
  }
  .mat-mdc-checkbox label {
    color: #6f8c55;
  }
  .error-text {
    color: red;
  }
  .custom-button {
    height: 40px; /* Adjust the height as needed */
  width: 70%;
  }
  