<app-header></app-header>
<div class="custom-select-content-wrapper">
  <div class="custom-select-form-wrapper">
    <h1 class="custom-select-heading">Custom Updates File</h1>
    <div class="container" *ngIf="flag">
      <mat-card>
        <mat-card-content class="card-content">
          <h1>Select Excel File <span class="highlight">To Kamel</span></h1>
          <div class="upload-btn-wrapper">
            <input (change)="selectfile($event)" type="file" class="file-input">
            <button (click)="upload()" class="btn">Upload File</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
